<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="prev()">
        <ion-icon class="back" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Move documents</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="category-header">Alpha Type Images</ion-row>
    <ion-row>
      <!-- <div class="container" *ngFor="let image of images">
          <ion-checkbox class="checkbox" *ngIf=" image.type == 'Alpha'" checked="image.multiListCheck" (ionChange)="updateList(image)"></ion-checkbox>
          <button block>
            <img style="width: 64px; height:64px; padding-left: 5%" src={{image.img}} *ngIf=" image.type == 'Alpha' " (ionChange)="updateList(image)" >
          </button>
        </div> -->

      <div *ngFor="let image of images">
        <div class="container" *ngIf="image.type == 'Alpha'">
          <ion-checkbox class="checkbox" *ngIf=" image.type == 'Alpha'" [checked]="image.multiListCheck"></ion-checkbox>
          <button block (click)="updateList(image)">
            <img style="width: 64px; height:64px; padding-left: 5%" src={{image.img}} *ngIf=" image.type == 'Alpha' ">
          </button>
        </div>
      </div>

    </ion-row>
    <ion-row class="category-header">Beta Type Images</ion-row>

    <ion-row>
      <div *ngFor="let image of images">
        <div class="container" *ngIf="image.type == 'Beta'">
          <ion-checkbox class="checkbox" *ngIf=" image.type == 'Beta'" [checked]="image.multiListCheck"></ion-checkbox>
          <button block (click)="updateList(image)">
            <img style="width: 64px; height: 64px; padding-left: 5%" src={{image.img}} *ngIf=" image.type == 'Beta' ">
          </button>
        </div>
      </div>
    </ion-row>

    <button ion-button style="position: absolute; bottom:10px; width: 144px; margin-left: 33%" (click)="onMovePress($event)">
      Move</button>
  </ion-grid>



</ion-content>