<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button *ngIf="multiSelectEnabled" ion-button (click)="prev()">
        <ion-icon class="back" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!multiSelectEnabled">Documents</ion-title>
    <ion-title *ngIf="multiSelectEnabled">Move documents</ion-title>
    <ion-buttons end>
        <button ion-button icon-only color="dark" (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
      <ion-row class="category-header">Alpha Type Buttons</ion-row>
      <ion-row >
          <div class="container" *ngFor="let button of buttons">
            <!-- <button ion-button  *ngIf=" button.type == 'Alpha' " (click)="onButtonPress($event, button)">{{button.name}}</button> -->
            <!-- <button *ngIf=" button.type == 'Alpha' " (click)="onButtonPress($event, button)">
              <ion-img style="width: 120px; height: 120px;" src="assets/imgs/logo.png"></ion-img>
            </button> -->
            <!-- <img style="width: 120px; height: 120px;" src={{button.img}} *ngIf=" button.type == 'Alpha' " (click)="onButtonPress($event, button)"> -->
            <ion-checkbox class="checkbox" *ngIf=" button.type == 'Alpha' && multiSelectEnabled" (ionChange)="updateList(button)"></ion-checkbox>
            <img ion-long-press [interval]="500" 
            style="width: 64px; height:64px; padding-left: 5%" 
            src={{button.img}} 
            *ngIf=" button.type == 'Alpha' " 
            (onPressStart)="onPress($event, button)"
            (onPressing)="onLongPress($event, button)"
            (onPressEnd)="onPressRelease($event, button)">
            <!-- <button ion-button ion-long-press [interval]="500" *ngIf=" button.type == 'Alpha' " (onPressing)="onButtonPress($event, button)">{{button.name}}</button> -->
          </div>
      </ion-row>
      <ion-row class="category-header">Beta Type Buttons</ion-row>
      <ion-row>
          <div class="container" *ngFor="let button of buttons">
            <!-- <button ion-button  *ngIf=" button.type == 'Beta' " (click)="onButtonPress($event, button)">{{button.name}}</button> -->
            <!-- <button ion-button ion-long-press [interval]="500" *ngIf=" button.type == 'Beta' " (onPressing)="onButtonPress($event, button)">{{button.name}}</button> -->
            <!-- <img style="width: 120px; height: 120px;" src={{button.img}} *ngIf=" button.type == 'Beta' " (click)="onButtonPress($event, button)"> -->
            <ion-checkbox class="checkbox" *ngIf=" button.type == 'Beta' && multiSelectEnabled " (ionChange)="updateList(button)"></ion-checkbox>
            <img ion-long-press [interval]="500" 
            style="width: 64px; height: 64px; padding-left: 5%" 
            src={{button.img}} 
            *ngIf=" button.type == 'Beta' " 
            (onPressStart)="onPress($event, button)"
            (onPressing)="onLongPress($event, button)"
            (onPressEnd)="onPressRelease($event, button)">
          </div>
      </ion-row>

      <button 
    ion-button *ngIf="multiSelectEnabled"
    style="position: absolute; bottom:10px; width: 144px; margin-left: 33%"
    (click)="onMovePress($event)">
    Move</button>
  </ion-grid>

    
  
</ion-content>