<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button *ngIf="editModeEnabled || uploadModeEnabled" ion-button (click)="prev()">
        <ion-icon class="back" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!editModeEnabled && !uploadModeEnabled">Documents</ion-title>
    <ion-title *ngIf="editModeEnabled && !uploadModeEnabled">Move documents</ion-title>
    <ion-title *ngIf="uploadModeEnabled && !editModeEnabled">Select documents to upload</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="dark" (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="!editModeEnabled && !uploadModeEnabled">
    <ion-row class="category-header">Alpha Type Images</ion-row>
    <ion-row>
      <div class="container" *ngFor="let image of images">
        <img ion-long-press [interval]="500" style="width: 64px; height:64px; padding-left: 5%" src={{image.img}} *ngIf=" image.type == 'Alpha' "
          (onPressStart)="onPress($event, image)" (onPressing)="onLongPress($event, {imgList: images})" (onPressEnd)="onPressRelease($event, image)">
      </div>
    </ion-row>
    <ion-row class="category-header">Beta Type Images</ion-row>
    <ion-row>
      <div class="container" *ngFor="let image of images">
        <img ion-long-press [interval]="500" style="width: 64px; height: 64px; padding-left: 5%" src={{image.img}} *ngIf=" image.type == 'Beta' "
          (onPressStart)="onPress($event, image)" (onPressing)="onLongPress($event, {imgList: images})" (onPressEnd)="onPressRelease($event, image)">
      </div>
    </ion-row>

    <button ion-button *ngIf="uploadAllowed" style="position: absolute; bottom:10px; width: 90%; height: 10%" (click)="onUploadPress($event)">
        Select Documents to Upload</button>
  </ion-grid>

  <ion-grid *ngIf="editModeEnabled || uploadModeEnabled">
    <ion-row class="category-header">Alpha Type Images</ion-row>
    <ion-row>
      <div *ngFor="let image of images">
        <div class="container" *ngIf="image.type == 'Alpha'">
          <ion-checkbox class="checkbox" *ngIf=" image.type == 'Alpha'" [checked]="image.multiListCheck"></ion-checkbox>
          <button block (click)="updateList(image)">
            <img style="width: 64px; height:64px; padding-left: 5%" src={{image.img}} *ngIf=" image.type == 'Alpha' ">
          </button>
        </div>
      </div>
    </ion-row>

    <ion-row class="category-header">Beta Type Images</ion-row>
    <ion-row>
      <div *ngFor="let image of images">
        <div class="container" *ngIf="image.type == 'Beta'">
          <ion-checkbox class="checkbox" *ngIf=" image.type == 'Beta'" [checked]="image.multiListCheck"></ion-checkbox>
          <button block (click)="updateList(image)">
            <img style="width: 64px; height: 64px; padding-left: 5%" src={{image.img}} *ngIf=" image.type == 'Beta' ">
          </button>
        </div>
      </div>
    </ion-row>

    <button ion-button *ngIf="uploadModeEnabled" style="position: absolute; bottom:10px; width: 90%; height: 10%" (click)="onUploadPress($event)">
        Upload Selected Documents</button>
    <button ion-button *ngIf="editModeEnabled"style="position: absolute; bottom:10px; width: 90%; height: 10%" (click)="onMovePress($event)">
      Move Selected Documents</button>
  </ion-grid>




</ion-content>